.sticky-bottom {
    bottom: 0;
    position: sticky;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-top: 1px solid #D8D8D8;
    display: flex;
    flex-direction: row;
    padding-top: 5px !important;
}

.product-image .image {
    width: 6vw;
    border: 2px solid white;
}

.card .product-container {
    display: grid;
    grid-template-columns: 100px auto;
}

.close-icon {
    justify-content: flex-end;
    display: flex;
    top: 0;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.close-icon .close {
    width: 27px;
    height: 27px;
}

.close-icon .active {
    animation: close 1s;
}

@keyframes close {
    0% {
        rotate: 0turn;
    }

    100% {
        rotate: 1turn;
    }
}

/* For Small Devices */
@media screen and (max-width:650px) {
    .product-image .image {
        width: 20vw !important;
    }

    .card .product-container {
        display: grid;
        grid-template-columns: 80px auto;
    }

    .btn-content .btn-login {
        margin: 0 !important;
    }
}

.products-row {
    justify-content: center;
    padding: 10px;
}

.product-heading {
    height: 25px;
    margin: 0;
}

.price-name .discounted-percentage {
    color: #d33030;
    padding: 0 5px 0 5px;
}

.price-name .strike-off {
    color: #D8D8D8;
    text-decoration: line-through;
}

.product-size-qty {
    display: flex;
    flex-direction: row;
}

.product-size-qty .size {
    width: 50%;
}

.product-size-qty .qty {
    width: 50%;
}

.product-size-qty h5 {
    margin: 0;
    padding: 0;
}

.price-name {
    margin: 0;
    padding: 0;
}

.move-to-wishlist .wishlist {
    height: 27px;
}

.move-to-wishlist {
    display: flex;
    justify-content: center;
    padding: 7px;
}

.content-corner {
    line-height: 2;
    justify-content: space-between;
    padding: 0 10px;
    display: flex;
    font-weight: 100;
    font-family: cursive;
}

.heading-cart {
    padding: 0;
    margin: 0;
    font-family: cursive;
}

.select-type .create-acc {
    margin-bottom: 0;
}

.w-100 {
    width: 100%;
}

.btn-content .btn-login,
.otp-mng,
.get-otp {
    margin: 8px;
}

.input-box .get-otp {
    margin-bottom: 22px;
}