<section class="container">
    <div class="cart-items" *ngIf="sharedService.bagItems.length !== 0">
        <div class="row">
            <div class="col-lg-8 col-md-9 col-sm-12">
                <div class="col-12">
                    <div class="row list-header">
                        <div class="product">
                            Products
                        </div>
                    </div>
                </div>
                <div class="row products-row">
                    <div class="card col-lg-6 col-md-6 col-sm-12" *ngFor="let obj of items">
                        <div class="row product-dtls">
                            <div class="img-passport">
                                <img [src]="obj.image1" alt="" class="img-fluid">
                            </div>
                            <div class="product-info row">
                                <div class="prouct-name">
                                    <h4>{{obj.productName}}</h4>
                                    <mat-icon class="close-icon" (click)="removeFromBag(obj.id)">highlight_off</mat-icon>
                                </div>
                                <div class="product-price">
                                    <h5>Price:</h5><span class="strike-off"><img src="./assets/icons/rupee-sign.svg" alt="rupee sign" class="rupee-sign">{{obj.strikePrice}}</span> {{obj.discountedPrice}}
                                </div>
                                <div class="product-modify">
                                  
                                    <div class="quantity-modify">
                                        <h5 class="qty-header">Qty: </h5>
                                        <button mat-stroked-button class="qty-sub">-</button>
                                        <input type="text" class="input-number" value="1">
                                        <button mat-stroked-button class="qty-add">+</button>
                                    </div>
                                    <div class="size">
                                        <h5>Size:</h5>M
                                    </div>
                                </div>
                                <div class="wishlist">
                                    <button mat-stroked-button class="move-to-wishlist">
                                        <img src="./assets/icons/wishlist-icon.svg" alt="Move To Wishlist">
                                        Wishlist</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="col-lg-4 d-md-block d-none col-md-3 col-sm-12 v-line">
                Total Cart Value:
                <div class="mrp content-corner">
                    Mrp: <span>1000</span>
                </div>
                <div class="discount content-corner">
                    Discount: <span>1000</span>
                </div>
                <div class="shipping content-corner">
                    Courier Charges: <span>1000</span>
                </div>
                <mat-divider></mat-divider>
                <div class="total-value content-corner">
                    <h3> Total Amount</h3> <span>1000</span>
                </div>
            </div>
            <div class="col-12 d-md-none row sticky-bottom">
                <div class="cart-value">
                    Total:- ₹1799
                </div>
                <button mat-raised-button color="primary">Proceed to Pay <i
                        class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="no-items text-center" *ngIf="sharedService.bagItems.length === 0">
        <div class="col-12">
            No Items are present in the bag please add items to your bag
        </div>
        <div class="col-12 mb-4 mt-2">
            <button mat-raised-button color="primary">Go To Home</button>
        </div>
    </div>
</section>