<div class="container-fluid">
  <div class="row">
    <aside class="d-none d-md-block col-lg-2 col-md-3 sticky-aside">
      <div class="navigation">
        Home / <span class="current-loc">Shirts</span>
      </div>
      <div class="filter">
        <h4>FILTERS</h4>
        <mat-checkbox class="example-margin col-12" color="primary">
          <span class="label">Chineese Collar</span>
        </mat-checkbox>
        <mat-checkbox class="example-margin col-12" color="primary">
          <span class="label">Checks</span>
        </mat-checkbox>
        <mat-checkbox class="example-margin col-12" color="primary">
          <span class="label">Plain</span>
        </mat-checkbox>
      </div>
    </aside>
    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
      <div class="container p-2">
        <div class="row shirts-view">
          <div class="heading col-12">
            <h4>Shirts: <small>200 Items</small></h4>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 product-column"
            *ngFor="let product of shirtsCategory; let i=index">
            <div class="card">
              <div class="card-body p-0" (click)="openProduct(product)">
                <img [src]="product.image1" alt="Phant" class="img-fluid defaultImage">
                <img [src]="product.image2" alt="Phant" class="img-fluid hoverImage">
              </div>
              <div class="card-footer p-1">
                <div class="product-name">
                  <h4 class="mb-1">{{product.productName}}</h4>
                </div>
                <div class="product-price">
                  <h5 class="price-name">Price:
                    <span class="strike-off" aria-disabled="true">
                      ₹{{product.strikePrice}}</span>
                    <span class="discounted-percentage">₹{{product.discountPercentage}}OFF</span>
                    <span class="discounted-price">₹{{product.discountedPrice}}</span>
                  </h5>
                </div>
                <button mat-raised-button color="primary" class="bag-button" name="shirt{{i}}"
                  (click)="addToBagLocal(i)">
                  <i *ngIf="product.showNotch" class="fa-solid fa-circle-notch"></i>
                  <span *ngIf="!product.showNotch" class="btn-text"> <i class="fa-solid fa-bag-shopping"></i>
                    {{sharedService.bagItems[product.id]?'Added':'Add'}} to Bag</span>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="buttons-for-mob-view col-12 ">
      <button class="btn btn-pad btn-sort col-6" (click)="openSortPopup()">
        <img src="./assets/icons/sort-icon.svg" alt="sort icon"> Sort
      </button>
      <hr>
      <button class="btn btn-pad col-6" (click)="openFilterPopup()">
        <img src="./assets/icons/filter-icon.svg" alt="sort icon"> Filter
      </button>
    </div>
  </div>