<div class="container-fluid">
    <div class="filter-row">
      <aside class="d-none d-md-block col-lg-3 col-md-3">
        <div class="navigation">
          Home / <span class="current-loc">Shirts</span>
        </div>
        <hr>
        <div class="filter">
          <h4>FILTERS</h4>
          <mat-checkbox class="example-margin col-12" color="primary">
            <span class="label">Chineese Collar</span>
          </mat-checkbox>
          <mat-checkbox class="example-margin col-12" color="primary">
            <span class="label">Checks</span>
          </mat-checkbox>
          <mat-checkbox class="example-margin col-12" color="primary">
            <span class="label">Plain</span>
          </mat-checkbox>
        </div>
        <div class="filter">
          <h4>SORT</h4>
          <mat-radio-button class="example-margin col-12" color="primary">
            <span class="label">Low to High</span>
          </mat-radio-button>
          <mat-radio-button class="example-margin col-12" color="primary">
            <span class="label">High to Low</span>
          </mat-radio-button>
          <mat-radio-button class="example-margin col-12" color="primary">
            <span class="label">New Arrivals <small class="super-set">NEW</small></span>
          </mat-radio-button>
        </div>
      </aside>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="container">
          <div class="row shirts-view">
            <div class="col-lg-3 col-md-10 col-sm-12 col-xs-12">
              <div class="card">
                <img src="../../../../assets/images/tshirt.jpg" alt="t shirt">
                <div class="card-body">
                  <div class="card-intro">
                    <h3>Round Neck</h3>
                  </div>
                  <!-- <button class="button-5">Add to Cart</button> -->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-10 col-sm-12 col-xs-12">
              <div class="card">
                <img src="../../../../assets/images/tshirt.jpg" alt="t shirt">
                <div class="card-body">
                  <div class="card-intro">
                    <h3>Round Neck</h3>
                  </div>
                  <!-- <button class="button-5">Add to Cart</button> -->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-10 col-sm-12 col-xs-12">
              <div class="card">
                <img src="../../../../assets/images/tshirt.jpg" alt="t shirt">
                <div class="card-body">
                  <div class="card-intro">
                    <h3>Round Neck</h3>
                  </div>
                  <!-- <button class="button-5">Add to Cart</button> -->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-10 col-sm-12 col-xs-12">
              <div class="card">
                <img src="../../../../assets/images/tshirt.jpg" alt="t shirt">
                <div class="card-body">
                  <div class="card-intro">
                    <h3>Round Neck</h3>
                  </div>
                  <!-- <button class="button-5">Add to Cart</button> -->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-10 col-sm-12 col-xs-12">
              <div class="card">
                <img src="../../../../assets/images/tshirt.jpg" alt="t shirt">
                <div class="card-body">
                  <div class="card-intro">
                    <h3>Round Neck</h3>
                  </div>
                  <!-- <button class="button-5">Add to Cart</button> -->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-10 col-sm-12 col-xs-12">
              <div class="card">
                <img src="../../../../assets/images/tshirt.jpg" alt="t shirt">
                <div class="card-body">
                  <div class="card-intro">
                    <h3>Round Neck</h3>
                  </div>
                  <!-- <button class="button-5">Add to Cart</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>