.sticky-aside {
  position: sticky;
  top: 68px;
  height: 100vh;
  box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
  overflow-y: auto;

}

.card:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card {
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  margin: 0;
}

.card-footer {
  background: #fff;
}

.card-body .defaultImage {
  opacity: 1;
  display: block;
  transition: opacity 1s ease-in-out;
}

.card-body .hoverImage {
  opacity: 0;
  display: none;
}

.card:hover .card-body .defaultImage {
  opacity: 0;
  display: none;
}

.card:hover .card-body .hoverImage {
  opacity: 1;
  display: block;
}

.buttons-for-mob-view {
  position: sticky;
  bottom: 0;
  background: #fff;
  display: none;
}

.product-column {
  padding: 0px 10px 15px 5px;
}

.bag-button {
  margin: 0;
  width: 100%;
  padding: 0 0 2px 0;
}

.fa-circle-notch {
  animation: animate-load 1s ease infinite;
}

@keyframes animate-load {
  0% {
    transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
  }
}

@media screen and (max-width:900px) {
  .buttons-for-mob-view {
    display: flex;
  }
}