.container-full {
    padding: 10px;
}

aside {
    height: 100vh;
    position: fixed;
}

.navigation {
    padding: 5px;
    border-bottom: 1px solid black;
    width: 250px
}

.current-loc {
    font-family: sans-serif;
    font-weight: 700;
}

.sort {
    text-align: end;
    padding: 10px;
}

.d-sort {
    width: 100px;
}

.sort-dropdown {
    border: 2px solid black;
    border-radius: 3px;
    width: 180px;
    height: 30px;

}

select {
    cursor: pointer;
}

.filter {
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .products {
        display: none;
    }
}

.product-image {
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    width: 210px;
    height: 280px;
    object-fit: cover;
    /* Ensure image fills the container */
}

.card-desktop-view {
    width: 210px;
    box-shadow: none;
    transition: .3s all ease-in-out;
}

.card-body {
    padding: 0 10px;
    margin-top: 12px;
}

.product-price {
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
    margin-bottom: 5px;
}

.product-strike {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.product-discountPercentage {
    color: #ff605a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}

.product-discountedPrice {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}

.product-brand {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.card-desktop-view:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.wishlist-button {
    text-align: center;
    padding: 5px;
    display: none;
}

.btn-outline {
    height: 25px;
    width: 100%;
    padding: 0;
    color: #dc3545;
    border-color: #dc3545;
}

.card-desktop-view:hover .wishlist-button {
    display: block;
}

.card-desktop-view:hover .wishlist-icon {
    transform: translateY(14px) translateX(-17px);
    opacity: 0;
    /* Fade out the icon */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out 0.2s;
    /* Delay opacity by 0.2 seconds */
}

@keyframes showHeart {
    from {
        opacity: 0;
        transform: translateY(-100%) translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

.wishlist-appear {
    /* No inline styles needed, animation defined in @keyframes */
    opacity: 0;
}

.card-desktop-view:hover .wishlist-button i.wishlist-appear {
    animation: showHeart 0.3s ease-in-out 0.3s forwards;
}

.mob-view {
    padding: 3px;
}

.wishlist-button-mob {
    padding: 5px;
}

.card-mob-view {
    box-shadow: none;
}

.btn-pad {
    height: 38px;
}

.btn-sort {
    border-right: 1.5px solid whitesmoke
}

.buttons-for-mob-view {
    position: fixed;
    bottom: 0;
    background: #fff;
    left: 0;
    justify-content: space-evenly;
    border-top: 1.5px solid whitesmoke;
}