.container-full {
    padding: 10px;
}

aside {
    height: 100vh;
    position: fixed;
}

.navigation {
    padding: 5px;
    border-bottom: 1px solid black;
    width: 250px
}

.current-loc {
    font-family: sans-serif;
    font-weight: 700;
}

.sort {
    text-align: end;
    padding: 10px;
}

.d-sort {
    width: 100px;
}

.sort-dropdown {
    border: 2px solid black;
    border-radius: 3px;
    width: 180px;
    height: 30px;

}

select {
    cursor: pointer;
}

.filter {
    padding: 5px;
}


.card {
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

img {
    width: 100%;
}

.card:hover {
    box-shadow: 2px 2px 5px black;
    transform: rotateX(3deg)
}

@media only screen and (max-width: 600px) {

    img {
        width:178px;
        height: 178px;
    }
}