<div class="content-wrapper">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        *ngFor="let img of arr; let i = index"
        attr.data-slide-to="{{ i }}"
        [ngClass]="{ active: selectedIndex === i }"
      ></li>
    </ol>
    <div class="carousel-inner">
      <div
        class="carousel-item"
        [ngClass]="{ active: i === selectedIndex }"
        *ngFor="let img of arr; let i = index"
      >
        <img class="d-block w-100 image" [src]="img.imageUrl" [alt]="img.alt" />
      </div>
    </div>
  </div>

  <div class="container w-100">
    <h2 class="heading">New Arrival Products</h2>
  </div>
  <div class="container">
    <h3 class="category-heading">Categories</h3>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="circle">
          <img
            src="../../../../assets/images/category/shirt.avif"
            alt="shirt"
            srcset=""
          />
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="circle">
          <img
            src="../../../../assets/images/category/shirt.avif"
            alt="shirt"
            srcset=""
          />
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="circle">
          <img
            src="../../../../assets/images/category/shirt.avif"
            alt="shirt"
            srcset=""
          />
        </div>
      </div>
    </div>

  </div>
</div>
