.carousel-container {
  position: relative;
  text-align: center;
}

.carousel-container img {
  display: none;
  width: 100%;
}

.carousel-container .image-active {
  display: block;
  height: 91vh;
}

.carousel-dot-container {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: -25px 10px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  transition: 0.6s ease;
  opacity: 0.5;
}

.active,
.dot:hover {
  opacity: 1;
}

.image {
  height: 100vh;
}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  margin: 0 20px;
  border-radius: 50%;
  background-color: transparent; /* Makes the circles transparent */
  border: 1px solid white; /* Adds a white border around the circles (optional) */
}

.carousel-indicators li.active {
  background-color: #fff;
}

.circle {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid rgb(0, 0, 0);
  overflow: hidden;
}

.row {
  margin: 20px;
}

.category-heading{
    text-align: center;
    font: 40px KumbhSans-700;
    margin-bottom: 2rem;
    color: #000;
}

.heading{
  font:36px jost, sans-serif;
  font-weight: 700;
  color: #000;
  text-align: center;
}
