<!-- Main Sidebar Container -->
<aside class="sidebar" [ngClass]="{'collapse':sharedService.sidebarHide}">
  
test
Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus soluta cum quibusdam et. Nostrum, aliquid ullam? Asperiores vitae sunt, doloribus dolor nihil hic eveniet eaque illo nulla aspernatur totam, perferendis soluta mollitia laborum eius cupiditate, quae praesentium cum molestiae ea inventore ut ipsa modi? Accusamus soluta sit magnam quae fuga libero autem possimus voluptatum doloribus aspernatur non expedita accusantium quaerat nam totam quia est a quo impedit rem iusto dolore placeat, atque vero? Accusantium adipisci rerum eaque aliquam debitis velit autem. Debitis at natus placeat laudantium mollitia quibusdam omnis reiciendis unde! Eum iusto sit pariatur voluptates eius rem cumque quas!
{{sharedService.sidebarHide}}
</aside>