<!-- Main Sidebar Container -->

<aside class="sidebar" [ngClass]="{'collapse':sharedService.showSideBar}">
    <ul class="nav-list">
        <li [ngClass]="{'active':router.url.includes('home')}">
            <a href="javascript:void(0)" routerLink="/home"><span>Home</span></a>
        </li>
        <li [ngClass]="{'active':router.url === '/shirts'}">
            <a href="javascript:void(0)" routerLink="/shirts"><span>Shirts</span></a>
        </li>
        <li [ngClass]="{'active':router.url.includes('t-shirts')}">
            <a href="javascript:void(0)" routerLink="/t-shirts"><span>T-Shirts</span></a>
        </li>
        <li [ngClass]="{'active':router.url.includes('phants')}">
            <a href="javascript:void(0)" routerLink="/phants"><span>Phants</span></a>
        </li>
    </ul>
</aside>