.sidebar {
    background: #f8f9fa;
    width: 200px;
    z-index: 1021;
    position: absolute;
    height: 100%;
    top: 0;
    padding: 0;
    border: 1px solid #dde0e5;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 10px;
    padding-block: 2rem;
    margin-left: 3px;
}

.nav-list li {
    padding: 5px;
    /* border-radius: 100vw 0 0 100vw; */
    display: flex;
    justify-content: center;
}

/* .nav-list li.active {
    background: #ffff;
    color: black;
    position: relative;
    animation: .2s ease;
} */

.nav-list li.active .btn-white {
    background: #3f51b5;
    color: white;
    position: relative;
    animation: .2s ease;
}

.nav-list a {
    text-decoration: none;
    color: black;
}