.content-wrapper {
    margin-left: 0 !important;
}

.product-image .image {
    width: 99vw;
    width: 99vw;
}

.product-image {
    justify-content: center;
    display: flex;
}

.m-0 {
    margin: 0;
}

@media screen and (min-width:750px) {
    .product-image .image {
        width: 35vw;
        height: 520px;
    }

    .image-section {
        display: grid;
        grid-template-columns: auto 100px;
    }

    .image-thumbs {
        display: flex;
        flex-direction: column !important;
        justify-content: space-around;
    }

    .image-thumb-slide {
        width: 6.5vw !important;
    }

    .p-20 {
        padding-left: 20px !important;
    }
}

.image-thumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image-section {
    padding-top: 5px;
    margin: 0;
}

.image-thumb-slide {
    width: 13vw;
    padding-bottom: 3px;
    cursor: pointer;
    border: 3px solid white;
}

.p-20 {
    padding: 0;
}

.strike-off {
    color: #D8D8D8;
    text-decoration: line-through;
}

.bottom-sticky {
    width: 100vw;
    padding: 0;
    margin: 0;
    bottom: 0;
    position: sticky;
    margin-bottom: 5px;
    background: white;
}

.add-to-bag,
.move-to-wishlist {
    width: 100%;
    overflow: hidden;
}

.move-to-wishlist {
    background: whitesmoke;
}

.pl-10 {
    padding-left: 10px;
}

.stciky {
    bottom: 0;
    position: sticky;
    background: white;
    padding-top: 5px;
    border-top: 1px solid #D8D8D8;
}

.discounted-percentage {
    color: #d33030;
    padding: 0 5px 0 5px;
}

.size-info .red {
    color: #d33030;
}

.size-select {
    color: black;
    background: white;

}

.select-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.select-btns .active{
    color: white;
    background: #3f51b5;
}

.product-info .heading{
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.product-info .sub-content{
    font-size: 14px;
    font-weight: 200;
    color: rgb(36, 33, 33);
}

.select-quantity .qty-mod-btn .input-qty{
    width: 50px;
    height: 25px;
    margin: 0 2px;
    border: 1px solid #cfc6c6;
    display: flex;
    justify-content: center;
}

.select-quantity .qty-mod-btn .increase-qty,
.select-quantity .qty-mod-btn .decrease-qty{
    height: 25px;
    min-width: 25px !important;
}

.select-quantity .qty-mod-btn{
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
}