<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="p-0 col-lg-6 col-md-6 col-sm-12">
                <div class="row image-section">
                    <div class="product-image">
                        <img [src]="mainImage" [alt]="productObj.alt" class="image">
                    </div>
                    <div class="image-thumbs">
                        <div *ngFor="let image of imageList">
                            <img [src]="image" alt="productObj.alt" class="image-thumb-slide"
                                (click)="changeMainImg(image)">
                        </div>
                    </div>
                </div>

            </div>
            <div class="p-0 col-lg-6 col-md-6 col-sm-12">
                <div class="p-20">
                    <h3 class="p-0 m-0">{{productObj.productName}}</h3>
                    <h5 class="p-0 m-0">{{productObj.productType}} </h5>
                    <div class="price">
                        <span>Price:</span>
                        <span class="strike-off">
                            ₹{{productObj.strikePrice}}
                        </span>
                        <span class="discounted-percentage">₹{{productObj.discountPercentage}}OFF</span>
                        ₹{{productObj.discountedPrice}}
                    </div>
                </div>
            </div>
            <div class="d-md-none d-sm stciky">
                <div class="row bottom-sticky">
                    <div class="wishlist col-6">
                        <button mat-raised-button class="move-to-wishlist">
                            <i class="fa-regular fa-heart"></i>&nbsp;Wishlist
                        </button>
                    </div>
                    <div class="bag-icon col-6">
                        <button mat-raised-button color="primary" class="add-to-bag">
                            <i class="fa-solid fa-bag-shopping pl-10"></i>&nbsp;Add to Bag
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>